/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Gallium v1 layout (customized) with home row mods
 * Layer order: default (0), num_sym (1), smartnum (2), fn (3), nav_sys (4)
 *
 * Gallium (Layer 0): Default layer with home row mods
 *   - Customizations: X↔Q swapped, / replaced with ; (standard Gallium has / on bottom row)
 *   - Home row mods: N=Alt, R=Shift, T=Ctrl, S=Super (left); H=Super, A=Ctrl, E=Shift, I=Alt (right)
 *   - Thumbs: Delete | Backspace | Magic Shift | NumSym (tap=sticky num_sym, shift+tap=sticky fn, hold=momentary num_sym) | Space/Nav | ESC
 *   - Magic Shift (urob): tap after letter=repeat, tap otherwise=sticky shift, double-tap=caps word, hold=shift
 *   - Combos (all 50ms timeout):
 *     - Tab/Return: S+T = Tab, N+E = Return
 *     - Edit: W+R = Copy (Shift+Copy = Cut), T+G = Undo (Shift+Undo = Redo)
 *            P+T = Paste
 *     - Mouse: M+N = Left Click (Shift+M+N = Right Click)
 *     - Mouse/Scroll: R+X = Mouse Left, T+D = Mouse Right, P+B = Scroll Left, J+L = Scroll Right
 *     - Navigation: vertical combos for arrows, page up/down, home/end
 *     - Symbols: vertical combos for #, ^, &
 *
 * NumSym (Layer 1): Number & Symbol layer
 *   - Top row: <987[]+-_>
 *   - Home row: 0654()* /`% with home row mods (0=Alt, 6=Shift, 5=Ctrl, 4=Super, *=Super, /=Ctrl, `=Shift, %=Alt)
 *   - Bottom row: ^321{}=@#$
 *   - Thumbs: & ~ blsh | Smartnum | StickyFn | pipe
 *   - Activated by 4th thumb key: tap for sticky layer, shift+tap for sticky fn layer, hold for momentary access
 *
 * SmartNum (Layer 2): Number layer (urob's auto-layer)
 *   - Left side: Numbers in unusual layout 987/0654/321 with home row mods
 *   - Right side: NumSym symbols (]+-_>, ) * /`%, }=,.$ )
 *   - Auto-exits when non-number keys are pressed (urob's smartnum feature)
 *   - Thumbs: Delete | Backspace | Magic Shift | Exit | Space | Exit
 *   - Activated from NumSym layer via 4th thumb key
 *
 * Fn Layer (Layer 3): Function keys and keyboard layer activation
 *   - Left side: F-keys (F10-F7, F11/F6-F4, F12/F3-F1) in reverse order
 *   - Right side: Same as default layer (J/L/U/Y/', M/mods, K/H/,/./) with explicit home row mods
 *   - Thumbs: Exit | Space | Shift (on left); NumSym | Bspc | Del (on right)
 *   - Activated by sticky layer from NumSym layer, or shift+tap on default layer NumSym thumb key
 *
 * Nav/Sys (Layer 4): Navigation and system control layer
 *   - Left side: Media controls, BT/RGB controls with home row mods
 *   - Right side: Navigation keys (arrows, Home/End, Page Up/Down)
 *   - Thumbs: BT profile switching
 *   - Activated by holding Space
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/num_word.dtsi>

// urob's helper macros for ZMK behaviors
#include "zmk-helpers/helper.h"

&num_word {
    continue-list = <BSPC DEL DOT PLUS MINUS ASTRK FSLH EQUAL GRAVE UP DOWN LEFT RIGHT HOME END K_UNDO K_AGAIN>;
};

&sl {
    release-after-ms = <5000>;
    ignore-modifiers;
};

&sk {
    release-after-ms = <5000>;
    quick-release;
};

/ {
    chosen {
        zmk,physical-layout = &five_col_layout;
    };
};

/ {
    behaviors {
        #include "piantor_pro_bt_behaviors.dtsi"
    };

    #include "piantor_pro_bt_combos.dtsi"

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Gallium";
            // Gallium v1 (customized: X↔Q, /→;) with home row mods
            // ----------------------------------------------------------------------
            // |  B  |  L  |  D  |  C  |  V  |   |  J  |  Y  |  O  |  U  |  ,  |
            // |  N  |  R  |  T  |  S  |  G  |   |  P  |  H  |  A  |  E  |  I  |
            // |  X  |  Q  |  M  |  W  |  Z  |   |  K  |  F  |  '  |  ;  |  .  |
            //  | Delete | Backspace | Shift |   | NumSym | Space/Nav | ESC |
            // Home row mods: N=Alt, R=Shift, T=Ctrl, S=Super (left); H=Super, A=Ctrl, E=Shift, I=Alt (right)
            bindings = <
                &kp B       &kp L           &kp D           &kp C           &kp V           &kp J  &kp Y           &kp O              &kp U              &kp COMMA
                &hml LALT N &hml LSFT R     &hml LCTRL T    &hml LGUI S     &kp G           &kp P  &hmr RGUI H     &hmr RCTRL A       &hmr RSFT E        &hmr RALT I
                &kp X       &kp Q           &kp M           &kp W           &kp Z           &kp K  &kp F           &kp SQT            &kp SEMI           &period_morph
                                            &kp DEL  &kp BSPC  &magic_shift LSHIFT 0    &numsym_tap 0 0  &space_nav 4 SPACE  &kp ESC
            >;
        };

        num_sym_layer {
            display-name = "NumSym";
            // Number & Symbol layer with home row mods
            // ---------------------------------------------------------------------
            // |  &  |  9  |  8  |  7  |  [  |   |  ]  |  +  |  -  |  _  |  |  |
            // | 0+A | 6+S | 5+C | 4+G | (<  |   | )>  | *+G | /+C | `+S | %+A |
            // |  ^  |  3  |  2  |  1  |  ~  |   |blsh |  =  |  @  |  #  |  $  |
            //             | --- | --- | --- |   | Smartnum | --- | Exit |
            // Home row mods: 0=Alt, 6=Shift, 5=Ctrl, 4=Super (left); *=Super, /=Ctrl, `=Shift, %=Alt (right)
            // (< = ( normally, < when shifted; )> = ) normally, > when shifted
            bindings = <
                &kp AMPS        &kp N9          &kp N8          &kp N7          &kp LBKT        &kp RBKT        &kp PLUS        &kp MINUS       &kp UNDER       &kp PIPE
                &hml LALT N0    &hml LSFT N6    &hml LCTRL N5   &hml LGUI N4    &lpar_lt_morph  &rpar_gt_morph  &hmr RGUI ASTRK &hmr RCTRL FSLH &hmr RSFT GRAVE &hmr RALT PRCNT
                &kp CARET       &kp N3          &kp N2          &kp N1          &kp TILDE       &kp BSLH        &kp EQUAL       &kp AT          &kp HASH        &kp DLLR
                                                &trans  &trans  &trans    &smartnum_tap 2 2  &trans  &to 0
            >;
        };

        smartnum_layer {
            display-name = "SmartNum";
            // Smart number layer (matching Kanata layout with urob's auto-layer)
            // urob's smartnum auto-exits on non-number keys
            // Numbers on LEFT side: 987/0654/321, right side: num_sym symbols
            // -------------------------------------------------------------------------
            // |  &  |  9  |  8  |  7  |  [  |   |  ]  |  +  |  -  |  _  |  |  |
            // | 0+A | 6+S | 5+C | 4+G | (<  |   | )>  | *+G | /+C | `+S | %+A |
            // |  ^  |  3  |  2  |  1  |  ~  |   |blsh |  =  |  ,  |  .  |  $  |
            //  | Exit | Space | Magic Shift |   | Exit | Bspc | Del |
            // Exit = return to layer 0 (default layer)
            // (< = ( normally, < when shifted; )> = ) normally, > when shifted
            bindings = <
                &kp AMPS        &kp N9          &kp N8          &kp N7          &kp LBKT        &kp RBKT  &kp PLUS   &kp MINUS  &kp UNDER  &kp PIPE
                &hml LALT N0    &hml LSFT N6    &hml LCTRL N5   &hml LGUI N4    &lpar_lt_morph  &rpar_gt_morph  &hmr RGUI ASTRK  &hmr RCTRL FSLH   &hmr RSFT GRAVE  &hmr RALT PRCNT
                &kp CARET       &kp N3          &kp N2          &kp N1          &kp TILDE       &kp BSLH  &kp EQUAL  &kp COMMA  &kp PERIOD &kp DLLR
                                                &kp DEL  &kp BSPC  &magic_shift LSHIFT 0          &to 0  &kp SPACE  &to 0
            >;
        };

        fn_layer {
            display-name = "Fn";
            // Function keys (matching Gallium layout on right side)
            // Left: F-keys in REVERSE order, Right: same as default layer with home row mods
            // -------------------------------------------------------------------------
            // | F10 | F9  | F8  | F7  | C-A-F3 |   |  J  |  Y  |  O  |  U  |  ,  |
            // | F11 | F6  | F5  | F4  | C-A-F2 |   |  P  | RGui| RCtl| RSft| RAlt|
            // | F12 | F3  | F2  | F1  | C-A-F1 |   |  K  |  F  |  '  |  ;  |  .  |
            //             | Del | Bspc | Shift |   | NumSym | Space | Exit |
            bindings = <
                &kp F10     &kp F9      &kp F8      &kp F7      &kp LC(LA(F3))      &kp J  &kp Y           &kp O              &kp U              &kp COMMA
                &kp F11     &kp F6      &kp F5      &kp F4      &kp LC(LA(F2))      &kp P  &kp RGUI        &kp RCTRL          &kp RSFT           &kp RALT
                &kp F12     &kp F3      &kp F2      &kp F1      &kp LC(LA(F1))      &kp K  &kp F           &kp SQT            &kp SEMI           &period_morph
                                        &kp DEL  &kp BSPC  &magic_shift LSHIFT 0     &numsym_tap 0 0  &kp SPACE  &to 0
            >;
        };

        nav_sys_layer {
            display-name = "NavSys";
            // Navigation & System layer (Space hold)
            // Left: Media/System/BT/RGB controls, Right: Navigation + BT/System
            // -------------------------------------------------------------------------
            // | BTClrAll** | Next | VolUp | BriUp | RGBBriUp |   | PgUp | Home | Up   | End  | BTClr**  |
            // | Reset**/Alt| Prev | VolDn | BriDn | RGBBriDn |   | PgDn | Left | Down | Rght | Reset**  |
            // | Boot**     | Play | Mute  | MicM  | RGBTog   |   | Sleep| PrSc | USB  | BLE  | Boot**   |
            //                         | BTPrv | BT0  | BTNxt |   | Blk  | Blk  | Exit |
            // Home row: tap=action, hold=modifier (Reset/Alt, Prev/Shift, VolDn/Ctrl, BriDn/Super)
            // ** = requires double-tap to trigger (single tap does nothing)
            bindings = <
                &td_bt_clr_all     &kp C_NEXT                   &kp C_VOL_UP                   &kp C_BRI_UP                    &rgb_ug RGB_BRI     &kp PG_UP     &kp HOME      &kp UP          &kp END        &td_bt_clr
                &nav_a_td LALT 0   &hml LSFT C_PREV  &hml LCTRL C_VOL_DN  &hml LGUI C_BRI_DN   &rgb_ug RGB_BRD     &kp PG_DN     &kp LEFT      &kp DOWN        &kp RIGHT      &td_reset
                &td_boot           &kp C_PP                     &kp C_MUTE                     &kp F20                         &rgb_ug RGB_TOG     &kp C_SLEEP   &kp PSCRN     &out OUT_USB    &out OUT_BLE   &td_boot
                            &bt BT_PRV  &bt BT_SEL 0  &bt BT_NXT    &none  &none  &to 0
            >;
        };
    };
};
