/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Colemak DH layout synchronized with Kanata config (~/configs/kanata.kbd)
 * Layer order: default (0), caps (1), fn (2), num_sym (3), smartnum (4), nav_sys (5), gallium (6)
 *
 * Colemak (Layer 0): Default layer with home row mods
 *   - Home row mods: A=Alt, R=Shift, S=Ctrl, T=Super (left); N=Super, E=Ctrl, I=Shift, O=Alt (right)
 *   - Thumbs: Magic Key | Backspace (Shift+Backspace=Delete) | Magic Shift | NumSym | Space/Nav | SmartNum
 *   - Magic Shift (urob): tap=sticky shift or caps word, hold=shift
 *   - Magic Key: tap after letter=repeat, after `=```+newline, after ~=slash, after undo=redo, after copy=cut, after delete/backspace=delete word, Gallium SFBs: P→H, H→Y, Y→P, S→C, C→S, E→U, U→E, O→A, R→L
 *   - NumSym thumb key: tap=sticky num_sym, shift+tap=sticky fn, hold=momentary num_sym
 *   - SmartNum thumb key: tap=num_word (auto-exits on non-number keys), hold=momentary smartnum
 *   - Combos (all 50ms timeout):
 *     - Tab/Return: S+T = Return, N+E = Tab
 *     - Quick keys: E+I = Escape (or Exit on other layers), R+S = Delete
 *     - Symbols: F+P = :, L+U = `, C+D = ;, H+, = ~
 *     - Edit: W+R = Copy (Shift+W+R = Cut), T+G = Undo (Shift+T+G = Redo), P+T = Paste
 *     - Mouse: M+N = Left Click, J+L = Middle Click, K+H = Right Click
 *     - Mouse/Scroll: R+X = Mouse Left, T+D = Mouse Right, P+B = Scroll Left, D+V = Scroll Right, B+G = Scroll Up, G+V = Scroll Down
 *     - Navigation: vertical combos for arrows, page up/down, home/end
 *
 * NumSym (Layer 3): Number & Symbol layer
 *   - Top row: &987[] ]%_=|
 *   - Home row: 0654() ) / - + * with home row mods (0=Alt, 6=Shift, 5=Ctrl, 4=Super, /=Super, -=Ctrl, +=Shift, *=Alt)
 *   - Bottom row: ^321{} }@#blsh$
 *   - Thumbs: trans | trans | trans | none | trans | trans
 *   - Activated by NumSym thumb key: tap for sticky layer, hold for momentary access
 *
 * SmartNum (Layer 4): Number layer (urob's auto-layer)
 *   - Left side: Numbers in layout 987/0654/321 with home row mods
 *   - Right side: NumSym symbols (]%_=|, ) / - + *, }@#blsh$ )
 *   - Auto-exits when non-number keys are pressed (urob's smartnum feature)
 *   - Thumbs: trans | trans | trans | →NumSym | trans | none
 *   - Activated by tapping SmartNum thumb key (num_word mode)
 *
 * Fn Layer (Layer 2): Function keys and keyboard layer activation
 *   - Left side: F-keys (F10/F9/F8/F7/C-A-F3, F11/F6/F5/F4/C-A-F2, F12/F3/F2/F1/C-A-F1) mirrored by finger
 *   - Right side: Inherits from default layer, except O which emits LALT on hold (for Ctrl+Alt+F<n> TTY switching)
 *   - Thumbs: trans | trans | trans | trans | trans | trans
 *   - Activated by shift+tap on NumSym thumb key from default layer
 *   - Exit via E+I combo
 *
 * Nav/Sys (Layer 5): Navigation and system control layer
 *   - Left side: Media controls, BT/RGB controls with home row mods
 *   - Right side: Navigation keys (arrows, Home/End, Page Up/Down)
 *   - Thumbs: trans | trans | trans | BT Next | BT 0 | BT Prev
 *   - Activated by holding Space (right thumb)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/num_word.dtsi>

// urob's helper macros for ZMK behaviors
#include "zmk-helpers/helper.h"

&num_word {
    ignore-modifiers;
    continue-list = <BSPC DEL DOT PLUS MINUS ASTRK FSLH EQUAL GRAVE UP DOWN LEFT RIGHT HOME END PG_UP PG_DN K_UNDO K_AGAIN>;
};

&caps_word {
    continue-list = <BSPC DEL>;
};

&sl {
    release-after-ms = <3000>;
    ignore-modifiers;
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
    chosen {
        zmk,physical-layout = &five_col_layout;
    };
};

/ {
    behaviors {
        #include "piantor_pro_bt_behaviors.dtsi"
    };

    #include "piantor_pro_bt_combos.dtsi"

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Colemak";
            // Colemak DH with home row mods
            // ----------------------------------------------------------------------
            //         |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  .  |
            //         |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  |
            //         |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H  |  ,  |  '  |  ?  |
            // | Magic Key | Backspace | Magic Shift |   | NumSym | Space/Nav | SmartNum |
            // Home row mods: A=Alt, R=Shift, S=Ctrl, T=Super (left); N=Super, E=Ctrl, I=Shift, O=Alt (right)
            bindings = <
                &kp Q       &kp W           &kp F           &kp P           &kp B           &kp J  &kp L           &kp U              &kp Y              &kp DOT
                &hml LALT A &hml LSFT R     &hml LCTRL S    &hml LGUI T     &kp G           &kp M  &hmr RGUI N     &hmr RCTRL E       &hmr RSFT I        &hmr RALT O
                &kp Z       &kp X           &kp C           &kp D           &kp V           &kp K  &kp H           &kp COMMA          &kp SQT            &slash_morph
                                            &magic_key  &backspace_delete_morph  &magic_shift LSHIFT 0    &numsym_tap 0 0  &space_nav 5 0  &smartnum_tap 4 4
            >;
        };

        caps_layer {
            display-name = "Caps";
            // Uppercase letters layer for auto-capitalization with home row mods
            // All letters (A-Z) mapped to uppercase, symbols/numbers inherit from default
            // Shift thumb key exits layer and emits shift to avoid double-shift
            // ----------------------------------------------------------------------
            // |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |trans|
            // |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  |
            // |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H  |trans|trans|trans|
            //       | trans | trans | trans |   | trans | trans | shift_exit |
            bindings = <
                &kp LS(Q)       &kp LS(W)       &kp LS(F)          &kp LS(P)       &kp LS(B)      &kp LS(J)  &kp LS(L)       &kp LS(U)          &kp LS(Y)       &trans
                &hml LALT LS(A) &hml LSFT LS(R) &hml LCTRL LS(S)   &hml LGUI LS(T) &kp LS(G)      &kp LS(M)  &hmr RGUI LS(N) &hmr RCTRL LS(E)   &hmr RSFT LS(I) &hmr RALT LS(O)
                &kp LS(Z)       &kp LS(X)       &kp LS(C)          &kp LS(D)       &kp LS(V)      &kp LS(K)  &kp LS(H)       &trans             &trans          &trans
                                                &shift_exit_caps     &trans         &trans     &trans     &trans     &trans
            >;
        };

        fn_layer {
            display-name = "Fn";
            // Function keys (mirrored to left hand for use with right hand mods)
            // Left: F-keys mirrored by finger, Right: inherit from default layer (O=LALT on hold for TTY switching)
            // -------------------------------------------------------------------------
            // | F10 | F9  | F8  | F7  | C-A-F3 |   | trans | trans | trans | trans | trans |
            // | F11 | F6  | F5  | F4  | C-A-F2 |   | trans | trans | trans | trans | O+LALT|
            // | F12 | F3  | F2  | F1  | C-A-F1 |   | trans | trans | trans | trans | trans |
            //                 | trans | trans | trans |   | trans | trans | trans |
            bindings = <
                &kp F10  &kp F9  &kp F8  &kp F7  &kp LC(LA(F3))      &trans  &trans  &trans  &trans  &trans
                &kp F11  &kp F6  &kp F5  &kp F4  &kp LC(LA(F2))      &trans  &trans  &trans  &trans  &hmr LALT O
                &kp F12  &kp F3  &kp F2  &kp F1  &kp LC(LA(F1))      &trans  &trans  &trans  &trans  &trans
                                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        num_sym_layer {
            display-name = "NumSym";
            // Number & Symbol layer with home row mods
            // ---------------------------------------------------------------------
            // |  &  |  9  |  8  |  7  |  [  |   |  ]  |  %  |  _  |  =  |  |  |
            // | 0+A | 6+S | 5+C | 4+G |  (  |   |  )  | /+G | -+C | ++S | *+A |
            // |  ^  |  3  |  2  |  1  |  {  |   |  }  |  @  | blsh|  #  |  $  |
            //       | none  | trans | trans |   | trans | trans | trans |
            // Home row mods: 0=Alt, 6=Shift, 5=Ctrl, 4=Super (left); /=Super, -=Ctrl, +=Shift, *=Alt (right)
            bindings = <
                &kp AMPS        &kp N9          &kp N8          &kp N7          &kp LBKT        &kp RBKT        &kp PRCNT       &kp UNDER       &kp EQUAL       &kp PIPE
                &hml LALT N0    &hml LSFT N6    &hml LCTRL N5   &hml LGUI N4    &kp LPAR        &kp RPAR        &hmr RGUI FSLH  &hmr RCTRL MINUS &hmr RSFT PLUS &hmr RALT ASTRK
                &kp CARET       &kp N3          &kp N2          &kp N1          &kp LBRC        &kp RBRC        &kp AT          &kp BSLH        &kp HASH        &kp DLLR
                                                &trans  &trans  &trans    &none  &trans  &trans
            >;
        };

        smartnum_layer {
            display-name = "SmartNum";
            // Smart number layer (matching Kanata layout with urob's auto-layer)
            // urob's smartnum auto-exits on non-number keys
            // Numbers on LEFT side: 987/0654/321, right side: num_sym symbols
            // -------------------------------------------------------------------------
            // |  &  |  9  |  8  |  7  |  [  |   |  ]  |  %  |  _  |  =  |  .  |
            // | 0+A | 6+S | 5+C | 4+G |  (  |   |  )  | /+G | -+C | ++S | *+A |
            // |  ^  |  3  |  2  |  1  |  {  |   |  }  |  @  |  ,  |  #  |  $  |
            //       | →Gallium | trans | trans |   | →NumSym | trans | none |
            bindings = <
                &kp AMPS        &kp N9          &kp N8          &kp N7          &kp LBKT        &kp RBKT        &kp PRCNT       &kp UNDER       &kp EQUAL       &kp DOT
                &hml LALT N0    &hml LSFT N6    &hml LCTRL N5   &hml LGUI N4    &kp LPAR        &kp RPAR        &hmr RGUI FSLH  &hmr RCTRL MINUS &hmr RSFT PLUS &hmr RALT ASTRK
                &kp CARET       &kp N3          &kp N2          &kp N1          &kp LBRC        &kp RBRC        &kp AT          &kp COMMA       &kp HASH        &kp DLLR
                                                &to 6  &trans  &trans    &smartnum_to_numsym  &trans  &none
            >;
        };

        nav_sys_layer {
            display-name = "NavSys";
            // Navigation & System layer (Space hold)
            // Left: Media/System/BT/RGB controls, Right: Navigation + BT/System
            // -------------------------------------------------------------------------
            // | BTClrAll** | Next | VolUp | BriUp | RGBBriUp |   | PgUp | Home | Up   | End  | BTClr**  |
            // | Boot**/Alt | Prev | VolDn | BriDn | RGBBriDn |   | PgDn | Left | Down | Rght | Boot**   |
            // | Reset**    | Play | Mute  | MicM  | RGBTog   |   | Sleep| PrSc | USB  | BLE  | Reset**  |
            //    .                    | trans | trans | trans |   | BTNxt | BT0  | BTPrv |
            // Home row: tap=action, hold=modifier (Boot/Alt, Prev/Shift, VolDn/Ctrl, BriDn/Super)
            // ** = requires double-tap to trigger (single tap does nothing)
            bindings = <
                &td_bt_clr_all     &kp C_NEXT                   &kp C_VOL_UP                   &kp C_BRI_UP                    &rgb_ug RGB_BRI     &kp PG_UP     &kp HOME      &kp UP          &kp END        &td_bt_clr
                &nav_a_td LALT 0   &hml LSFT C_PREV  &hml LCTRL C_VOL_DN  &hml LGUI C_BRI_DN   &rgb_ug RGB_BRD     &kp PG_DN     &kp LEFT      &kp DOWN        &kp RIGHT      &td_boot
                &td_reset          &kp C_PP                     &kp C_MUTE                     &kp F20                         &rgb_ug RGB_TOG     &kp C_SLEEP   &kp PSCRN     &out OUT_USB    &out OUT_BLE   &td_reset
                            &trans  &trans  &trans    &bt BT_NXT  &bt BT_SEL 0  &bt BT_PRV
            >;
        };

        gallium_layer {
            display-name = "Gallium";
            // Gallium keyboard layout (modified v1: J/Z swapped, X/Q swapped, F/P/Y rotated)
            // Toggled from smartnum layer via leftmost thumb key, exit via center-left thumb (ESC+to layer 0)
            // ------------------------------------------------------------------------
            // |  B  |  L  |  D  |  C  |  V  |   |  Z  |  F  |  O  |  U  |  .  |
            // |  N  |  R  |  T  |  S  |  G  |   |  Y  |  H  |  A  |  E  |  I  |
            // |  X  |  Q  |  M  |  W  |  J  |   |  K  |  P  |  ,  |  '  |  ?  |
            //       | trans | trans | ESC+Exit |   | trans | trans | none |
            // Home row mods: N=Alt, R=Shift, T=Ctrl, S=Super (left); H=Super, A=Ctrl, E=Shift, I=Alt (right)
            bindings = <
                &kp B           &kp L           &kp D           &kp C           &kp V           &kp Z  &kp F           &kp O              &kp U              &kp DOT
                &hml LALT N     &hml LSFT R     &hml LCTRL T    &hml LGUI S     &kp G           &kp Y  &hmr RGUI H     &hmr RCTRL A       &hmr RSFT E        &hmr RALT I
                &kp X           &kp Q           &kp M           &kp W           &kp J           &kp K  &kp P           &kp COMMA          &kp SQT            &slash_morph
                                                &trans  &trans  &esc_to_default    &trans  &trans  &none
            >;
        };
    };
};
