/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
  macros {
    // Macro for SUPER+L (lock screen) - takes 1 dummy parameter for hold-tap compatibility
    super_l: super_l {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      bindings = <&macro_press &kp LGUI>, <&macro_tap &kp L>, <&macro_release &kp LGUI>;
    };
  };

  behaviors {
    // Space: tap for space, hold for lower layer (200ms tapping term)
    spclo: space_lower {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      bindings = <&mo>, <&kp>;
    };

    // Right arrow key: tap for \, hold for raise layer (300ms tapping term)
    trais: right_raise {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <300>;
      quick-tap-ms = <0>;
      bindings = <&mo>, <&kp>;
    };

    // Menu key: tap for SUPER+L, hold for raise layer (300ms tapping term)
    mrais: menu_raise {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <300>;
      quick-tap-ms = <0>;
      bindings = <&mo>, <&super_l>;
    };

    // Enter: tap for enter, hold for lower layer (200ms tapping term)
    entlo: enter_lower {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      bindings = <&mo>, <&kp>;
    };

    // Rotary encoder sensor-rotate behaviors for RGB controls
    rgb_encoder_brightness: rgb_encoder_brightness {
      compatible = "zmk,behavior-sensor-rotate";
      #sensor-binding-cells = <0>;
      bindings = <&rgb_ug RGB_BRD>, <&rgb_ug RGB_BRI>;
    };

    rgb_encoder_effect: rgb_encoder_effect {
      compatible = "zmk,behavior-sensor-rotate";
      #sensor-binding-cells = <0>;
      bindings = <&rgb_ug RGB_EFR>, <&rgb_ug RGB_EFF>;
    };

    rgb_encoder_speed: rgb_encoder_speed {
      compatible = "zmk,behavior-sensor-rotate";
      #sensor-binding-cells = <0>;
      bindings = <&rgb_ug RGB_SPD>, <&rgb_ug RGB_SPI>;
    };

    rgb_encoder_hue: rgb_encoder_hue {
      compatible = "zmk,behavior-sensor-rotate";
      #sensor-binding-cells = <0>;
      bindings = <&rgb_ug RGB_HUD>, <&rgb_ug RGB_HUI>;
    };

    rgb_encoder_saturation: rgb_encoder_saturation {
      compatible = "zmk,behavior-sensor-rotate";
      #sensor-binding-cells = <0>;
      bindings = <&rgb_ug RGB_SAD>, <&rgb_ug RGB_SAI>;
    };
  };

  // Activate ADJUST layer by pressing raise and lower
  conditional_layers {
    compatible = "zmk,conditional-layers";
    adjust_layer {
      if-layers = <LOWER RAISE>;
      then-layer = <ADJUST>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "default";
      // ------------------------------------------------------------------------------------------------------------
      // Tarmak Stage 1b: e→j, k→e, n→k, j→n, h→m, m→h
      // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
      // |  TAB  |  Q  |  W  |  J   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
      // |  ESC  |  A  |  S  |  D   |  F   |  G   |                   |  M   |  N    |  E    |  L   |   ;   |   '   |
      // | SHIFT |  Z  |  X  |  C   |  V   |  B   | VOL_MUT| | MIC_MUT|  K   |  H    |  ,    |  .   |   /   | SHIFT |
      //               |LG(L)/RA| ALT | CTRL |  =   |SPC/LOW |  | ENT/LOW| DEL  |   [   |  ]    | \/RA  |
      bindings = <
        &kp GRAVE  &kp N1    &kp N2     &kp N3     &kp N4              &kp N5                                &kp N6              &kp N7     &kp N8    &kp N9    &kp N0    &kp MINUS
        &kp TAB    &kp Q     &kp W      &kp J      &kp R               &kp T                                 &kp Y               &kp U      &kp I     &kp O     &kp P     &kp BSPC
        &kp ESC    &kp A     &kp S      &kp D      &kp F               &kp G                                 &kp M               &kp N      &kp E     &kp L     &kp SEMI  &kp SQT
        &kp LSHFT  &kp Z     &kp X      &kp C      &kp V               &kp B      &kp C_MUTE   &kp C_MUTE   &kp K               &kp H      &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
                   &mrais RAISE N0 &kp LALT   &kp LCTRL           &kp EQUAL  &spclo LOWER SPACE        &entlo LOWER RET    &kp DEL    &kp LBKT  &kp RBKT  &trais RAISE BSLH
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_BRI_DN C_BRI_UP>;
    };

    lower_layer {
      display-name = "lower";
      // ------------------------------------------------------------------------------------------------------------
      // | LG(`) | LG(1) | LG(2) | LG(3) | LG(4) | LG(5) |                   | LG(6) | LG(7) | LG(8) | LG(9) | LG(0) | LG(-) |
      // |LG(TAB)| LG(Q) | LG(W) | LG(E) | LG(R) | LG(T) |                   | PGUP  | HOME  |  UP   |  END  |   X   | BKSPC |
      // |   X   | LG(A) | LG(S) | LG(D) | LG(F) | LG(G) |                   | PGDN  | LEFT  | DOWN  | RIGHT |   X   |  DEL  |
      // | SHIFT | LG(Z) | LG(X) | LG(C) | LG(V) | LG(B) | PLAY |  | PLAY  |   X   |   X   |   X   |   X   |   X   | SHIFT |
      //               |       |  ALT  | CTRL  |   X   | LOWER  |  | LS(RET)|   X   |   X   |   X   |   X   |
      bindings = <
        &kp LG(GRAVE)  &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &kp LG(N4)  &kp LG(N5)                        &kp LG(N6)   &kp LG(N7)  &kp LG(N8)  &kp LG(N9)  &kp LG(N0)  &kp LG(MINUS)
        &kp LG(TAB)    &kp LG(Q)   &kp LG(W)   &kp LG(E)   &kp LG(R)   &kp LG(T)                         &kp PG_UP    &kp HOME    &kp UP      &kp END     &none       &kp BSPC
        &none          &kp LG(A)   &kp LG(S)   &kp LG(D)   &kp LG(F)   &kp LG(G)                         &kp PG_DN    &kp LEFT    &kp DOWN    &kp RIGHT   &none       &kp DEL
        &kp LSHFT      &kp LG(Z)   &kp LG(X)   &kp LG(C)   &kp LG(V)   &kp LG(B)  &kp C_PP &kp C_PP  &none        &none       &none       &none       &none       &kp RSHFT
                       &none       &kp LALT    &kp LCTRL   &none       &trans                            &kp LS(RET)  &none       &none       &none       &none
      >;

      sensor-bindings = <&inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_PREV C_NEXT>;
    };

    raise_layer {
      display-name = "raise";
      // ------------------------------------------------------------------------------------------------------------
      // |  F1   |  F2  |  F3  |  F4   |  F5   |  F6  |                |  F7  |  F8  |  F9   | F10  |  F11  |  F12  |
      // |   X   |  X   |  X   |   X   |   X   |   X  |                |  X   |  X   |   X   |  X   |   X   |   X   |
      // |   X   |  X   |  X   |   X   |   X   |   X  |                |  X   |  X   |   X   |  X   |   X   |   X   |
      // |   X   |  X   |  X   |   X   |   X   |   X  | RGB_OFF| |RGB_ON |  X   |  X   |   X   |  X   |   X   |   X   |
      //                |      | ALT   | CTRL  |  X   |   X  |  |   X  |  X   |  X   |   X   |      |
      bindings = <
        &kp F1   &kp F2    &kp F3     &kp F4     &kp F5   &kp F6                            &kp F7   &kp F8   &kp F9   &kp F10  &kp F11  &kp F12
        &none    &none     &none      &none      &none    &none                             &none    &none    &none    &none    &none    &none
        &none    &none     &none      &none      &none    &none                             &none    &none    &none    &none    &none    &none
        &none    &none     &none      &none      &none    &none    &rgb_ug RGB_OFF &rgb_ug RGB_ON   &none    &none    &none    &none    &none    &none
                 &trans    &kp LALT   &kp LCTRL  &none    &none                             &none    &none    &none    &none    &trans
      >;

      sensor-bindings = <&rgb_encoder_speed &rgb_encoder_brightness>;
    };

    adjust_layer {
      // ----------------------------------------------------------------------------------------------------------------------------
      // |   X   |   X   |   X   |   X   |   X   |   X   |                  |   X   |   X   |   X   |   X   |   X   |   X   |
      // | CLR   | BT_4  | BT_3  | BT_2  | BT_1  | BT_0  |                  | DS_0  | DS_1  | DS_2  | DS_3  | DS_4  | CLALL |
      // | O_USB | O_BLE |   X   |   X   |   X   | EFREV |                  | EFFWD |   X   |   X   |   X   |   X   |   X   |
      // | BOOT  | RESET |   X   |   X   |   X   |   X   | RGB_OFF| |RGB_ON |   X   |   X   |   X   |   X   | RESET | BOOT  |
      //                 |       |       |       |       |        |  |       |       |       |       |       |
      display-name = "adjust";
      bindings = <
        &none              &none             &none             &none          &none          &none                            &none           &none           &none           &none           &none           &none
        &bt BT_CLR         &bt BT_SEL 4      &bt BT_SEL 3      &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0                     &bt BT_DISC 0   &bt BT_DISC 1   &bt BT_DISC 2   &bt BT_DISC 3   &bt BT_DISC 4   &bt BT_CLR_ALL
        &out OUT_USB       &out OUT_BLE      &none             &none          &none          &rgb_ug RGB_EFR                  &rgb_ug RGB_EFF &none           &none           &none           &none           &none
        &bootloader        &sys_reset        &none             &none          &none          &none  &rgb_ug RGB_OFF &rgb_ug RGB_ON   &none           &none           &none           &none           &sys_reset      &bootloader
                           &none             &none             &none          &none          &none                            &none           &none           &none           &none           &none
      >;

      sensor-bindings = <&rgb_encoder_hue &rgb_encoder_saturation>;
    };
  };
};
